<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

<div id="content">

  {% if http_results %}
  <h2> HTTP Status </h2>
  <table>
    <thead>
      <tr>
        <td>Test Name</td>
        <td>Status</td>
        <td>Messages</td>
      </tr>
    </thead>
    <tbody>
    {% for result in http_results %}
      <tr>
        <td>
          {{ result[0] }}
        </td>
        {% if result[1] == 'OK' %}
        <td style="color:green">
          OK
        </td>
        {% else %}
        <td style="color:red">
          DOWN
        </td>
        {% endif %}
        {% if result[2] %}
        <td> {{ result[2] }} </td>
        {% else %}
        <td> &nbsp; </td>
        {% endif %} 
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% if ssh_results %}
  <h2> SSH Status </h2>
  <table>
    <thead>
      <tr>
        <td>Test Name</td>
        <td>Status</td>
        <td>Messages</td>
      </tr>
    </thead>
    <tbody>
    {% for result in ssh_results %}
      <tr>
        <td>
          {{ result[0] }}
        </td>
        {% if result[1] == 'OK' %}
        <td style="color:green">
          OK
        </td>
        {% else %}
        <td style="color:red">
          DOWN
        </td>
        {% endif %}
        {% if result[2] %}
        <td> {{ result[2] }} </td>
        {% else %}
        <td> &nbsp; </td>
        {% endif %} 
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% if xrootd_results %}
  <h2> XRootd Status </h2>
  <table>
    <thead>
      <tr>
        <td>Test Name</td>
        <td>Status</td>
        <td>Messages</td>
      </tr>
    </thead>
    <tbody>
    {% for result in xrootd_results %}
      <tr>
        <td>
          {{ result[0] }}
        </td>
        {% if result[1] == 'OK' %}
        <td style="color:green">
          OK
        </td>
        {% else %}
        <td style="color:red">
          DOWN
        </td>
        {% endif %}
        {% if result[2] %}
        <td> {{ result[2] }} </td>
        {% else %}
        <td> &nbsp; </td>
        {% endif %} 
    {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>

</body>
</html>
