<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

<div id="content">

  <h2>System Status as of {{ time }}</h2>

  {% for test_set in test_sets %}
    {% if test_set %}
  <a id="{{ test_set.anchor }}">&nbsp;</a>
  <h2> {{ test_set.set_name }} </h2>
  <table>
    <thead>
      <tr>
        <td>Service</td>
        <td>Status</td>
        <td>Messages</td>
      </tr>
    </thead>
    <tbody>
    {% for result in test_set.results %}
      <tr>
        <td>
          <a > {{ result.service }} </a>
        </td>
        {% if result.status == 'OK' %}
        <td style="color:green">
          OK
        </td>
        {% else %}
        <td style="color:red">
          DOWN
        </td>
        {% endif %}
        {% if result.message %}
        <td> {{ result.message }} </td>
        {% else %}
        <td> &nbsp; </td>
        {% endif %} 
    {% endfor %}
    </tbody>
  </table>
    {% endif %}
  {% endfor %}
  {% if admin_mesg %}
  <h2> Administrative Messages</h2>
  <p>{{ admin_mesg }}</p>
  {% endif %}
</div>

</body>
</html>
